<appSettings>
  <add key="URL" value="https://www.next.co.uk/"/>
  <add key="TestDataSheetPath" value="C:\Framework\AutoFramework\Next\TestData\UserData.xls"/>
  <add key="ScreenShotsPath" value="C:\Framework\AutoFramework\Next\TestResults\ScreenCaptures"/>
  <add key="Browser" value="chrome" />
  <add key="BaseUrl" value="https://dfc-sit-findacourse-web.azurewebsites.net/" />
  <add key="user" value="kadirmalik3" />
  <add key="key" value="fD3QyuFFjpdsRp14MGYV" />
  <add key="server" value="hub-cloud.browserstack.com" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>